## HTML
include "/usr/share/nano/html.nanorc"

## Patch files
include "/usr/share/nano/patch.nanorc"

## Manpages
include "/usr/share/nano/man.nanorc"

## Perl
include "/usr/share/nano/perl.nanorc"

## Python
include "/usr/share/nano/python.nanorc"

## Ruby
include "/usr/share/nano/ruby.nanorc"

## Bourne shell scripts
include "/usr/share/nano/sh.nanorc"

## CSS
include "/usr/share/nano/css.nanorc"

## php
include "/usr/share/nano/php.nanorc"

## XML
include "/usr/share/nano/xml.nanorc"

## Apache confs
include "/usr/share/nano/apacheconf.nanorc"

## ETC config files
include "/usr/share/nano/conf.nanorc"

## JavaScript
include "/usr/share/nano/js.nanorc"