set smooth
set autoindent
set backup
set backupdir "/root/nano-backups"
set nowrap


## C/C++
include "/usr/share/nano/c.nanorc"

## Fortran
include "/usr/share/nano/fortran.nanorc"

## HTML
include "/usr/share/nano/html.nanorc"

## Patch files
include "/usr/share/nano/patch.nanorc"

## Manpages
include "/usr/share/nano/man.nanorc"

## Perl
include "/usr/share/nano/perl.nanorc"

## Python
include "/usr/share/nano/python.nanorc"

## reST
include "/usr/share/nano/reST.nanorc"

## Ruby
include "/usr/share/nano/ruby.nanorc"

## Bourne shell scripts
include "/usr/share/nano/sh.nanorc"

## makefile .am
include "/usr/share/nano/gentoo.nanorc"

## TeX
include "/usr/share/nano/tex.nanorc"

## CSS
include "/usr/share/nano/css.nanorc"

## php
include "/usr/share/nano/php.nanorc"

## XML
include "/usr/share/nano/xml.nanorc"

## Lua
include "/usr/share/nano/lua.nanorc"

## Apache confs
include "/usr/share/nano/apacheconf.nanorc"

## ETC config files
include "/usr/share/nano/conf.nanorc"

## JavaScript
include "/usr/share/nano/js.nanorc"